<h2>{{ funcionario ? 'Editar Funcionário' : 'Novo funcionario' }}</h2>

<div class="campo">

    <label>Nome</label>
    <input
        type="text"
        [(ngModel)]="nome">

</div>

<div class="campo">

    <label>CPF</label>
    <input
        type="text"
        [(ngModel)]="cpf">

</div>

<div class="campo">

    <label>Setor</label>
    <input
        type="text"
        [(ngModel)]="setor">

</div>

<div class="campo">

    <label>Admissão</label>
    <input
        type="date"
        [(ngModel)]="admissao">

</div>

<button (click)="salvar()">
    Salvar
</button>

