<h2>Usuários</h2>

<button *ngIf="!novoUsuario" (click)="abrirCadastro()">
    Novo Usuário
</button>

<div *ngIf="novoUsuario">

    <h3>Novo Usuário</h3>

    <div>
        <label>Nome</label>

        <input type="text" [(ngModel)]="nomeNovoUsuario">
    </div>

    <div>
        <label>E-mail</label>

        <input type="email" [(ngModel)]="emailNovoUsuario">
    </div>

    <div>
         <label>Senha</label>

         <input type="password" [(ngModel)]="senhaNovoUsuario">
    </div>

    <button (click)="salvarNovoUsuario()">
        Salvar
    </button>

    <button (click)="cancelarCadastro()">
        Cancelar
    </button>

</div>

<table *ngIf="!novoUsuario">

    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let usuario of usuarios">
            <ng-container *ngIf="usuarioEditando?.id === usuario.id">

                <td>
                    <input type="text" [(ngModel)]="nomeEditando">
                </td>

                <td>
                    {{ usuario.email }}
                </td>

                <td>
                   {{ usuario.tipo }}
                </td>

                <td>

                    <button (click)="salvarEdicao()">
                        Salvar
                    </button>

                    <button (click)="cancelarEdicao()">
                        Cancelar
                    </button>

                </td>

            </ng-container>

            <ng-container *ngIf="usuarioEditando?.id !== usuario.id">

                <td>
                    {{ usuario.nome }}
                </td>

                <td>
                    {{ usuario.email }}
                </td>

                <td>
                    {{ usuario.tipo }}
                </td>

                <td>

                    <button (click)="iniciarEdicao(usuario)">
                        Editar
                    </button>

                    <button *ngIf="usuario.tipo !== 'admin' && usuario.tipo !== 'superadmin'"
                        (click)="excluirUsuario(usuario)">
                        Excluir
                    </button>

                </td>

            </ng-container>

        </tr>

    </tbody>

</table>