.dashboard{
    padding:40px;
}

.dashboard h1{
    margin-bottom:30px;
    font-size:32px;
}

.search-box{
    margin-bottom:35px;
}

.search-box input{
    width:29.7%;
    padding:16px 20px;
    font-size:16px;
    border:1px solid #d1d5db;
    border-radius:12px;
    outline:none;
    transition:.2s;
}

.search-box input:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 4px rgba(37,99,235,.15);
}

.resultado-pesquisa{
    margin-bottom:30px;
}

.resultado{
    padding:15px;
    border:1px solid #e5e7eb;
    border-radius:10px;
    margin-bottom:10px;
    cursor:pointer;
}

.resultado:hover{
    background:#f8fafc;
}

.cards{
    display:flex;
    gap:25px;
    margin-bottom:40px;

}

.card{
    flex:1;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:25px;
    transition:.2s;
}

.card:hover{
    transform:translateY(-4px);
}

.card h2{
    font-size:34px;
    margin-bottom:10px;
}

.card p{
    color:#6b7280;
}

.recentes{
    background:#fff;
    border-radius:12px;
    border:1px solid #e5e7eb;
    padding:25px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    padding:15px;
    text-align:left;
    border-bottom:1px solid #ececec;
}